<!DOCTYPE html>
<html>
<head>
  <title>Zakład Pogrzebowy</title>
</head>
<body>
  <h1>Zakład Pogrzebowy</h1>
  <div>
    <button type="button">Zaloguj się</button>
    <button type="button">Zarejestruj się</button>
  </div>
</body>
</html>
