<!DOCTYPE html>
<html>
<head>
  <title>Zakład Pogrzebowy - Strona Główna</title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    div {
      margin-top: 10px;
    }

    button {
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <h1>Witaj w Zakładzie Pogrzebowym!</h1>
  <div>
    <a href="/logowanie">
      <button type="button">Zaloguj się</button>
    </a>
  </div>
  <div>
    <a href="/rejestracja">
      <button type="button">Zarejestruj się</button>
    </a>
  </div>
  <div>
    <a href="/oferta">
      <button type="button">Oferta</button>
    </a>
  </div>
</body>
</html>
