<!DOCTYPE html>
<html>
<head>
  <title>Zakład Pogrzebowy - Strona Główna</title>
</head>
<body>
  <h1>Witaj w Zakładzie Pogrzebowym!</h1>
  <div>
    <a href="/logowanie">
        <button type="button">Zaloguj się</button>
    </a>
    <a href="/rejestracja">
    <button type="button">Zarejestruj się</button>
    </a>
  </div>
</body>
</html>
