<!DOCTYPE html>
<html>
<head>
  <title>Zakład Pogrzebowy - Strona Główna</title>
</head>
<body>
  <h1><center>Witaj w Zakładzie Pogrzebowym!</h1>
  <div>
    <a href="/logowanie">
        <center><button type="button">Zaloguj się</button>
    </a>
    <a href="/rejestracja">
        <center><button type="button">Zarejestruj się</button>
    </a>
  </div>
  <div>
    <a href="/oferta">
      <center><button type="button">Oferta</button>
    </a>
  </div>
</body>
</html>
