<!DOCTYPE html>
<html>
<head>
  <title><center>Zakład Pogrzebowy - Logowanie</title>
</head>
<body>
  <h1><center>Logowanie</h1>
  <form action="/sesje/logowanie" method="post">
    <center><label for="nazwa_uzytkownika">Nazwa użytkownika:</label>
    <input type="text" id="nazwa_uzytkownika" name="nazwa_uzytkownika" required><br>

    <center><label for="haslo">Hasło:</label>
    <input type="password" id="haslo" name="haslo" required>
    <br>
    <button type="submit">Zaloguj się</button>
  </form>
</body>
</html>
